h1 {
	color: 	#A2CD5A;
	font-size: 270%;
	text-align: auto;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
h3 {  
	color: 	#A2CD5A;
	font-size: 200%;
	text-align: auto;
	font-family: Calibri;
}
body {
	overflow: scroll;
   	background-image: url("background.jpg"); top right no-repeat; background-attachment:fixed;
}
div  {
	margin: 150px;
    font: Calibri;
    border: 5px solid;
	border-color: #A2CD5A;
    padding: 15px;
	color: 	#A2CD5A;
	text-align: center;
	margin-top: 30px;
	border-radius: 30px;
	
}
.button {
  background-color: #A2CD5A;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    margin: 4px 2px;
    cursor: pointer;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	border-radius: 50px;
	border: 3px solid;
	border-color: #EEB422;
}

input.text {
    width: 70px;
    height: 50px;
    border: 1px solid black;
	border-radius: 20px;
	font-size: 20px;
	text-align: center;
	font-family: "Arial Narrow";
}
.helpbutton {
    background-color: #A2CD5A;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    margin: 4px 2px;
    cursor: pointer;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	border-radius: 50px;
	border: 3px solid;
	border-color: #EEB422;
	position:absolute; right:30px ; top:10px ;
}